.container {
    display: flex;
    width: 409px;
    height: 563px;
}

.above-canvas {
    display: flex;
}

.std-buttons {
    display: flex;
    margin-top: 16px;
}

.new-game-btn {
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 10px;
    height: 50px;
    border: none;
}

#easy-game-btn {
    background: rgb(136, 252, 42);
}

#medium-game-btn {
    background: rgb(208, 211, 11);
}

#hard-game-btn {
    background: rgb(255, 0, 0);
}

.item {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    margin: 0 5px 0 0;
    border-radius: 50%;
    cursor: pointer;
    background: linear-gradient(#d1d1d1, rgb(156, 156, 156));
}